<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SharpHash.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|"/>
  </connectionStrings>
  <userSettings>
    <SharpHash.Properties.Settings>
      <setting name="Version" serializeAs="String">
        <value>1.2.1.7</value>
      </setting>
      <setting name="RD" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="URD" serializeAs="String">
        <value>False</value>
      </setting>
    </SharpHash.Properties.Settings>
  </userSettings>
</configuration>
